@font-face {
  font-family: 'Muppets';
  src: url('The-Muppet-Font.otf');

body {
    font-family: "Muppets";
    text-align: center;
h1, h2, h3, h4, h5, h6 {
    color: black;
    text-align: center;
    font-family: "Muppets";
  }
